@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import "./layout/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
html {
  font-size: 18px;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  color: #666666;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.hero {
  min-height: 36.2222222222rem;
  background-color: #61C4D9;
  position: relative;
}
.hero__header {
  margin-bottom: 4.6666666667rem;
}
@media screen and (max-width: 768px) {
  .hero__header {
    min-height: 5.0555555556rem;
    margin-bottom: 26.7777777778rem;
    padding: 0 2rem 0 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__header {
    margin-bottom: 20.5rem;
    padding-left: 0.5555555556rem;
  }
}
.hero__btn {
  position: absolute;
  top: 65%;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .hero__btn {
    top: 77%;
  }
}
@media screen and (max-width: 480px) {
  .hero__btn {
    top: 81%;
  }
}
.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.2777777778rem 4.4444444444rem 2.8888888889rem;
  background: url(../../img/pics/comp/Ягоды1.png) right 29% top 91% no-repeat, url(../../img/pics/comp/Chocolates.png) right 5% bottom 59% no-repeat, url(../../img/background/big-leaf.png) right top no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: url(../../img/background/big-leaf768.png) right top 27% no-repeat;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero__container {
    background: url(../../img/background/big-leaf480.png) right top 17% no-repeat;
  }
}
.hero__container::before {
  content: url(../../img/pics/comp/Лист1.png);
  position: absolute;
  top: 51%;
  left: 78%;
}
@media screen and (max-width: 768px) {
  .hero__container::before {
    content: url(../../img/pics/comp/comp768.png);
    position: absolute;
    top: 17.5%;
    left: 19%;
    padding: 0 2.8888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__container::before {
    content: url(../../img/pics/comp/comp480.png);
    position: absolute;
    top: 12%;
    left: 5%;
    padding: 0 2.8888888889rem;
  }
}
.hero__content {
  min-height: 22.3333333333rem;
}
.hero__content::before {
  content: url(../../img/pics/comp/Лист2.png);
  position: absolute;
  top: 88.8%;
  left: 62%;
}
@media screen and (max-width: 768px) {
  .hero__content::before {
    content: "";
  }
}
@media screen and (max-width: 768px) {
  .hero__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .hero__content {
    min-height: auto;
  }
}
.hero__title {
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 3.2777777778rem;
  color: #FFFFFF;
  width: 38%;
  text-transform: uppercase;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .hero__title {
    width: auto;
    margin-bottom: 0.2777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-weight: bold;
    font-size: 2.2222222222rem;
    line-height: 2rem;
    color: #FFFFFF;
    margin-bottom: 0.4444444444rem;
  }
}
.hero__text {
  width: 20.6111111111rem;
  font-weight: 400;
  font-size: 1.1666666667rem;
  line-height: 25px;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .hero__text {
    margin-bottom: 14.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1111111111rem;
    color: #FFFFFF;
    padding: 0 1.5555555556rem;
    margin-bottom: 10.1666666667rem;
  }
}
.hero__icons {
  position: relative;
}
.hero__icons::before {
  content: url(../../img/pics/comp/Ягода2.png);
  position: absolute;
  top: 79%;
  right: -81%;
}
@media screen and (max-width: 768px) {
  .hero__icons {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: 1100px;
  /* min-height: $sectionHeight; */
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    min-height: 100%;
  }
}

/* @import "./blocks/section.scss"; */
.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .header {
    min-height: 5.0555555556rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding-right: 0.5555555556rem;
  }
}
.header__logo {
  margin-right: 2.2222222222rem;
}
.header__navbar {
  margin-right: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .header__navbar {
    display: none;
  }
}
.header > .contacts {
  justify-content: flex-end;
  white-space: nowrap;
  padding-top: 9px;
}
@media screen and (max-width: 768px) {
  .header > .contacts {
    display: none;
  }
}

.navBar {
  padding-top: 5px;
  /* min-width: rem(641px); */
}
.navBar__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.navBar__item {
  margin-right: 28px;
}
.navBar__item:last-child {
  margin-right: 0;
}
.navBar__link {
  line-height: 1.6666666667rem;
  color: #FFFFFF;
  text-decoration: none;
}

.burger {
  justify-self: flex-end;
  align-self: baseline;
  margin-top: 1.1111111111rem;
}
.burger__link {
  width: 26px;
  height: 24px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .burger__link {
    display: inline-flex;
  }
}
@media screen and (max-width: 480px) {
  .burger__link {
    display: inline-flex;
  }
}
.burger__plank {
  height: 4.5px;
  background: #FFFFFF;
  border-radius: 10px;
}

.btn {
  min-width: 8.6666666667rem;
  text-align: center;
  padding: 1.0555555556rem 2.1666666667rem;
  border-radius: 1.6666666667rem;
  text-decoration: none;
  font-weight: 800;
  font-size: 0.8888888889rem;
  line-height: 1rem;
  color: #FFFFFF;
  display: inline-flex;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  max-width: 18.8888888889rem;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.btn__theme_light {
  font-weight: 800;
  font-size: 0.8888888889rem;
  line-height: 1rem;
  color: #365A49;
  background-color: #FFFFFF;
  text-transform: uppercase;
}
.btn__theme_light:hover {
  color: #497870;
}
@media screen and (max-width: 480px) {
  .btn__theme_light {
    font-weight: 400;
    font-size: 1.0555555556rem;
    line-height: 1.2222222222rem;
    color: #497870;
  }
}
.btn__theme_dark {
  font-weight: 800;
  font-size: 0.8888888889rem;
  line-height: 1rem;
  color: #FFFFFF;
  background-color: #365A49;
  text-transform: uppercase;
}
.btn__theme_dark:hover {
  background-color: #2E4E3F;
  color: #FFFFFF;
}
.btn__theme_transparent {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #497870;
  background-color: transparent;
  padding: 1.0555555556rem 1.2222222222rem;
  justify-content: flex-start;
}
@media screen and (max-width: 480px) {
  .btn__theme_transparent {
    padding: 19px 33px;
  }
}
.btn__theme_transparent:hover {
  color: #000000;
}

.icons {
  display: flex;
  position: relative;
}
.icons::before {
  content: url(../../img/background/leaf3.png);
  position: absolute;
  top: 48%;
  left: -8%;
}

.infoItem {
  display: flex;
  margin-right: 0.4444444444rem;
  width: 9.2222222222rem;
  justify-content: flex-start;
  align-items: flex-start;
}
.infoItem:last-child {
  margin-right: 0;
}
.infoItem__img {
  margin-right: 0.6111111111rem;
}
.infoItem__text {
  font-weight: 400;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  color: #FFFFFF;
  padding-right: 2.2222222222rem;
}

.contacts {
  display: flex;
  align-items: center;
}
.contacts__img {
  margin-right: 0.4444444444rem;
}
.contacts__phone {
  font-weight: 400;
  font-size: 1.2222222222rem;
  line-height: 18px;
  color: #FFFFFF;
}

.section1 {
  min-height: 36.2222222222rem;
}
@media screen and (max-width: 768px) {
  .section1 {
    min-height: 55.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .section1 {
    min-height: 39.2777777778rem;
  }
}
.section1__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 97px 0 112px;
  background: url(../../img/background/узор-лист-1.png) left top 51% no-repeat;
}
@media screen and (max-width: 768px) {
  .section1__container {
    background: url(../../img/background/узор-лист-1.png) left -1% top 12% no-repeat;
  }
}
@media screen and (max-width: 480px) {
  .section1__container {
    background: none;
    padding: 97px 0 112px;
  }
}
.section1__container::before {
  content: url(../../img/background/малина-1.png);
  left: 0;
  bottom: -18.5%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .section1__container::before {
    bottom: -11.5%;
    content: "";
  }
}
@media screen and (max-width: 480px) {
  .section1__container::before {
    content: "";
  }
}
@media screen and (max-width: 768px) {
  .section1__container {
    padding: 15.5rem 0 14.2777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .section1__container {
    box-sizing: border-box;
    padding: 2.9444444444rem 0;
  }
}
.section1__headline {
  text-align: center;
  margin-bottom: 2.7222222222rem;
}
@media screen and (max-width: 480px) {
  .section1__headline {
    margin-bottom: 2.9444444444rem;
  }
}
.section1__content {
  margin: 0 4.5555555556rem;
}
@media screen and (max-width: 768px) {
  .section1__content {
    margin: 0;
  }
}
.section1__item {
  margin-right: 3.0555555556rem;
  flex: 1;
  position: relative;
}
@media screen and (max-width: 768px) {
  .section1__item {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .section1__item {
    margin-bottom: 36px;
  }
}
.section1__item::before {
  content: url(../../img/icons/features/Combined-shape-2204.png);
  position: absolute;
  top: 23%;
  right: -22%;
}
@media screen and (max-width: 768px) {
  .section1__item::before {
    content: "";
  }
}
@media screen and (max-width: 480px) {
  .section1__item::before {
    content: "";
  }
}
.section1__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .section1__item:last-child {
    margin-bottom: 0;
  }
}
.section1__item:last-child::before {
  display: none;
}
.section1__title {
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  color: #292929;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section1__title {
    font-weight: bold;
    font-size: 2.2222222222rem;
    line-height: 2rem;
    color: #000000;
  }
}
.section1__subtitle {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #666666;
  width: 24.2222222222rem;
  text-align: center;
  margin: 20px 0 0;
}
@media screen and (max-width: 768px) {
  .section1__subtitle {
    margin: 0.2222222222rem 0 0;
  }
}
@media screen and (max-width: 480px) {
  .section1__subtitle {
    margin: 0.6666666667rem 0 0;
  }
}

.features {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 480px) {
  .features {
    flex-direction: column;
  }
}

.single-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15.3333333333rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .single-feature {
    width: 14.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .single-feature {
    flex-direction: row;
    width: auto;
    align-items: flex-end;
  }
}
.single-feature__description {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .single-feature__description {
    text-align: left;
    padding-bottom: 20px;
    padding-right: 32px;
  }
}
.single-feature__icon {
  min-width: 7.1111111111rem;
  min-height: 7.1111111111rem;
  background: #F2F5F4;
  border-radius: 50%;
  margin-bottom: 1.2222222222rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .single-feature__icon {
    margin-bottom: 1.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .single-feature__icon {
    margin: 0 12px 0 8px;
  }
}
.single-feature__title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  color: #000000;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .single-feature__title {
    margin-bottom: 0.4444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .single-feature__title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.7777777778rem;
    color: #292929;
    margin-bottom: 0.6666666667rem;
  }
}
.single-feature__img {
  margin: 25% auto;
}
@media screen and (max-width: 480px) {
  .single-feature__img {
    display: none;
  }
}
.single-feature__img480 {
  display: none;
}
@media screen and (max-width: 480px) {
  .single-feature__img480 {
    display: block;
    margin: 24% auto;
    padding-left: 8px;
  }
}
.single-feature__text p {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #666666;
}
@media screen and (max-width: 768px) {
  .single-feature__text p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2222222222rem;
    color: #666666;
    padding: 0 15px;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .single-feature__text p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1111111111rem;
    color: #666666;
    padding: 0;
    margin-bottom: 0;
    text-align: left;
  }
}

.section2 {
  min-height: 35.6666666667rem;
}
@media screen and (max-width: 768px) {
  .section2 {
    min-height: 45.3333333333rem;
  }
}
.section3 {
  min-height: 652px;
}
@media screen and (max-width: 768px) {
  .section3 {
    min-height: 55.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .section3 {
    min-height: 42rem;
  }
}

.section4 {
  min-height: 652px;
}
@media screen and (max-width: 768px) {
  .section4 {
    min-height: 50.4444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .section4 {
    min-height: 35.2222222222rem;
  }
}

.section5 {
  position: relative;
  background: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .section5 {
    min-height: 54.2222222222rem;
  }
  .section5::before {
    content: url(../../img/pics/decor/Ягоды2_768.png);
    top: 90%;
    right: 80%;
    position: absolute;
    z-index: 1;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .section5::before {
    content: url(../../img/pics/decor/Ягоды2_480.png);
    top: 89.5%;
    right: 80%;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .section5 {
    min-height: 44.4444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .section5 {
    min-height: 39.2777777778rem;
  }
}
.section5__container {
  position: relative;
  padding: 3.2777777778rem 4.3888888889rem 3.7222222222rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .section5__container {
    padding: 10.0555555556rem 1.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .section5__container {
    padding: 5.3333333333rem 0.5555555556rem 4.5555555556rem;
  }
}
.section5__container::before {
  content: url(../../img/pics/decor/Узор1.png);
  top: 74%;
  left: 0%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .section5__container::before {
    content: url(../../img/pics/decor/Узор1_768.png);
    top: 81%;
    left: 0%;
    position: absolute;
  }
}
@media screen and (max-width: 480px) {
  .section5__container::before {
    content: url(../../img/pics/decor/Узор1-480.png);
    top: 84%;
    left: 0%;
    position: absolute;
  }
}
.section5__title {
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  color: #292929;
  margin-bottom: 1.3888888889rem;
  text-transform: uppercase;
  position: relative;
}
@media screen and (max-width: 768px) {
  .section5__title {
    margin-bottom: 1.8333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .section5__title {
    font-weight: bold;
    font-size: 2.2222222222rem;
    line-height: 2rem;
    color: #000000;
    margin-bottom: 1.4444444444rem;
  }
}
.section5__title::before {
  content: url(../../img/pics/decor/Ягода-3.png);
  top: -39%;
  right: -234%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .section5__title::before {
    content: url(../../img/pics/decor/Ягода-3__768.png);
    top: -300%;
    right: -157%;
    position: absolute;
  }
}
@media screen and (max-width: 480px) {
  .section5__title::before {
    content: url(../../img/pics/decor/Ягода-3__480.png);
    top: -220%;
    right: -106%;
    position: absolute;
  }
}
.section5__content {
  margin-bottom: 0.8333333333rem;
  overflow: hidden;
  position: relative;
  /* &::before {
      content: "";
      display: block;
      position: absolute;
      width: rem(83px);
      height: rem(83px);
      background: $light;
      border-radius: 50%;
      left: 45%;
      top: -14%;
  } */
}
@media screen and (max-width: 768px) {
  .section5__content {
    margin-bottom: 1.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .section5__content {
    margin-bottom: 41px;
  }
}

.feedback {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 52.2222222222rem;
  background: url(../../img/background/layer2-1.png) right top 14% no-repeat, #F8FAF9;
  padding: 2.5555555556rem 2.3333333333rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .feedback {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3.1111111111rem 1.2777777778rem 1.3333333333rem;
    background: url(../../img/background/layer2-1_768.png) right top 3% no-repeat, #F8FAF9;
  }
}
@media screen and (max-width: 480px) {
  .feedback {
    padding: 56px 33px 8px 25px;
    background: url(../../img/background/layer2-1_480.png) right top 7% no-repeat, #F8FAF9;
  }
}
.feedback__icon {
  margin-right: 2.1111111111rem;
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .feedback__icon {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin: 0 0 1.8333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .feedback__icon {
    margin: 0 0 0.8888888889rem;
  }
}
.feedback__paginator {
  position: relative;
}
.feedback__paginator::before {
  content: url(../../img/pics/decor/Ягоды2.png);
  left: -185%;
  bottom: -207.5%;
  position: absolute;
}
@media screen and (max-width: 480px) {
  .feedback__paginator {
    width: 224px;
  }
}
.feedback__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .feedback__img {
    display: none;
  }
}
.feedback__img768 {
  display: none;
}
@media screen and (max-width: 768px) {
  .feedback__img768 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.feedback__content {
  flex: 1;
  padding-top: 30px;
  width: 25.7222222222rem;
  padding-right: 6.9444444444rem;
}
@media screen and (max-width: 768px) {
  .feedback__content {
    padding: 0;
    width: auto;
    text-align: center;
  }
}
.feedback__title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  color: #000000;
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 768px) {
  .feedback__title {
    display: none;
  }
}
.feedback__title768 {
  display: none;
}
@media screen and (max-width: 768px) {
  .feedback__title768 {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.7777777778rem;
    color: #000000;
    margin-bottom: 0.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .feedback__title768 {
    padding: 0 43px;
    margin-bottom: 10px;
  }
}
.feedback__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #666666;
  margin-bottom: 1.5555555556rem;
}
@media screen and (max-width: 768px) {
  .feedback__text {
    display: none;
  }
}
.feedback__text768 {
  display: none;
}
@media screen and (max-width: 768px) {
  .feedback__text768 {
    display: block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2222222222rem;
    color: #666666;
    margin-bottom: 0.9444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .feedback__text768 {
    margin-bottom: 0.6666666667rem;
    line-height: 23px;
  }
}
.feedback__caption {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3333333333rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .feedback__caption {
    display: none;
  }
}
.feedback__caption768 {
  display: none;
}
@media screen and (max-width: 768px) {
  .feedback__caption768 {
    display: block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3333333333rem;
    color: #000000;
  }
}
.feedback__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .feedback__list {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.3333333333rem;
  border: 0.2222222222rem solid transparent;
}
@media screen and (max-width: 480px) {
  .interactive-avatar {
    width: 64px;
    height: 64px;
    margin-right: 0;
    border: none;
  }
  .interactive-avatar:nth-of-type(1) {
    order: 2;
  }
  .interactive-avatar:nth-of-type(2) {
    order: 1;
  }
  .interactive-avatar:nth-of-type(3) {
    order: 3;
  }
  .interactive-avatar:hover {
    border: 0.2222222222rem solid #365A49;
  }
}
.interactive-avatar:hover {
  border: 0.2222222222rem solid #365A49;
}
.interactive-avatar:last-child {
  margin-right: 0;
}
.interactive-avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section6 {
  min-height: 652px;
}
@media screen and (max-width: 768px) {
  .section6 {
    min-height: 606px;
  }
}
@media screen and (max-width: 480px) {
  .section6 {
    min-height: 518px;
  }
}

.section7 {
  background-color: #61C4D9;
  color: #497870;
}
@media screen and (max-width: 480px) {
  .section7 {
    min-height: 766px;
  }
}
.section7__container {
  position: relative;
  padding: 57px 81px 84px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .section7__container {
    padding: 173px 147px 180px;
  }
}
@media screen and (max-width: 480px) {
  .section7__container {
    padding: 87px 10px 81px;
  }
}
.section7__container::before {
  content: url(../../img/pics/decor/Ежевика_фото1.png);
  right: 0;
  top: -26%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .section7__container::before {
    content: url(../../img/pics/decor/Ежевика_фото1_768.png);
    right: 0;
    top: -8.5%;
    position: absolute;
  }
}
@media screen and (max-width: 480px) {
  .section7__container::before {
    content: url(../../img/pics/decor/Ежевика_фото1_480.png);
    right: 0;
    top: -11%;
    position: absolute;
  }
}
.section7__title {
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  color: #365A49;
  text-transform: uppercase;
  margin-bottom: 3.2222222222rem;
}
@media screen and (max-width: 768px) {
  .section7__title {
    margin-bottom: 1.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .section7__title {
    font-weight: bold;
    font-size: 2.2222222222rem;
    line-height: 2rem;
    color: #365A49;
    margin-bottom: 39px;
  }
}

.form {
  display: flex;
  position: relative;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
  }
}
.form::before {
  content: url(../../img/background/ягода_1.png);
  left: -3%;
  bottom: -6%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .form::before {
    content: "";
  }
}
.form__col {
  flex: 1;
  margin-right: 25px;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2222222222rem;
    color: #497870;
  }
}
.form__col:last-child {
  margin-right: 0;
}
.form__row {
  display: flex;
  margin-bottom: 12px;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 8px;
  }
}
.form__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  margin-right: 0.8888888889rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__input {
  box-sizing: border-box;
  width: 100%;
  border: 0.1666666667rem solid transparent;
  padding: 0.7222222222rem;
  border-radius: 0.2222222222rem;
  background: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 9px 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
  }
}
@media screen and (max-width: 480px) {
  .form__input {
    padding: 9px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }
}
.form__input:focus {
  border: 0.1666666667rem solid #DEE2BD;
  outline: none;
}
.form__input-textarea {
  height: 8.6666666667rem;
  resize: none;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .form__input-textarea {
    height: 4.5555555556rem;
  }
}
.form__controlls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding-left: 8px;
}
@media screen and (max-width: 768px) {
  .form__controlls {
    margin-top: 28px;
    padding-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .form__controlls {
    justify-content: flex-start;
  }
}
.form__controll {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .form__controll {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 480px) {
  .form__controll {
    margin-left: 52px;
  }
}
.form__btn {
  margin-top: 2.6666666667rem;
  position: relative;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form__btn {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    margin-left: 55px;
  }
}
@media screen and (max-width: 480px) {
  .form__btn {
    margin-left: 62px;
  }
}
.form__btn:first-child {
  margin-right: -1.1111111111rem;
}
.form__btn:last-child {
  margin-right: 0;
}
.form__btn::before {
  content: url(../../img/background/лист-3_1.png);
  right: -16%;
  top: -174%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .form__btn::before {
    content: "";
  }
}

.radio {
  display: flex;
  margin-right: 24px;
  margin-bottom: 18px;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .radio {
    margin-right: 21px;
  }
}
.radio:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.radio__checkbox .radio__visible {
  border-radius: 0.2222222222rem;
}
.radio__checkbox .radio__visible::before {
  content: "";
  background: url(../../img/icons/checkmark.png) center center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  .radio__checkbox {
    margin-left: 96px;
  }
}
.radio__element {
  display: none;
}
.radio__element:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  position: relative;
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  background: #FFFFFF;
  border-radius: 50%;
  margin-right: 0.5555555556rem;
}
.radio__visible:last-child {
  margin-right: 0;
}
.radio__visible::before {
  content: "";
  display: none;
  position: absolute;
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #365A49;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 48%;
  right: 4%;
  z-index: 100;
}
.fixed-menu__item {
  margin-bottom: 0.3888888889rem;
}
.fixed-menu__item_active .fixed-menu__link {
  border-color: #FFFFFF;
}
.fixed-menu__link {
  width: 1rem;
  height: 1.0555555556rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}