@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import "./layout/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap");
body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #666666;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 1100px;
  overflow: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.hero {
  min-height: 652px;
  background-color: #61C4D9;
}
.hero__container {
  padding: 24px 80px 0;
  background: url("../../img/pics/comp/Ягоды1.png") right 29% top 103% no-repeat, url("../../img/pics/comp/Лист1.png") right 1% bottom 16% no-repeat, url("../../img/pics/comp/Chocolates.png") right 5% bottom 30% no-repeat, url("../../img/background/big-leaf.png") right top no-repeat, url("../../img/pics/comp/Лист2.png") left center no-repeat, url("../../img/pics/comp/Ягода2.png") left center no-repeat;
}
.hero__content {
  margin-top: 84px;
  margin-bottom: 83px;
}
.hero__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  width: 371px;
  word-wrap: break-word;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.hero__text {
  width: 371px;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.container {
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navBar {
  padding: 0 0 0 38px;
}
.navBar__list {
  display: flex;
}
.navBar__item {
  margin-right: 28px;
}
.navBar__item:last-child {
  margin-right: 0;
}
.navBar__link {
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
}

.btn {
  padding: 21px 39px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  border-radius: 30px;
  text-decoration: none;
}
.btn__theme_light {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #365A49;
  background-color: #FFFFFF;
}
.btn__theme_light:hover {
  color: #497870;
}

.icons {
  display: flex;
}

.infoItem {
  display: flex;
  margin-right: 8px;
  width: 166px;
  justify-content: flex-start;
  align-items: flex-start;
}
.infoItem:last-child {
  margin-right: 0;
}
.infoItem__img {
  margin-right: 11px;
}
.infoItem__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-right: 40px;
}

.contacts {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.contacts__tel {
  margin-left: 6px;
}
.contacts__phone {
  font-weight: normal;
  font-size: 22px;
  line-height: 18px;
  color: #FFFFFF;
}

.section {
  min-height: 642px;
  background: url("/img/background/узор лист 1.png") left center no-repeat;
}
.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 9%;
}
.section__headline {
  text-align: center;
  margin-bottom: 49px;
}
.section__content {
  margin: 0 82px;
}
.section__item {
  margin-right: 55px;
}
.section__item:last-child {
  margin-right: 0;
}
.section__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #292929;
  text-transform: uppercase;
}
.section__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  width: 436px;
  text-align: center;
  margin: 20px 0 0;
}

.features {
  display: flex;
  justify-content: space-around;
}

.single-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 276px;
}
.single-feature__icon {
  width: 128px;
  height: 128px;
  background: #F2F5F4;
  border-radius: 50%;
  margin-bottom: 22px;
}
.single-feature__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 20px;
}
.single-feature__img {
  margin: 25% auto;
}
.single-feature__text p {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
}