$containerWidth: 1100px;
$baseFontSize: 18px;
$baseFontColor:#666666;
$BtnColorDark: #497870;
$CirclesBgrColor:#DADADA;
$Dark: #292929;
$Light:#FFFFFF;
$FirstBgrColor:#61C4D9;
$SecondBgrColor:#86C3D7;
$ThirdBgrColor:#F2F5F4;
$ForthBgrColor:#F8FAF9;

body {
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    font-size: $baseFontSize;
    color: $baseFontColor;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
    min-width: $containerWidth;
    overflow: hidden;
}

.container {
    width: $containerWidth;
    margin: 0 auto;
}