html{
    font-size: $baseFontSize;
}
body {
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    color: $baseFontColor;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> 782bc70fd202b69eb5fe9ae388ad98ec33a9e90e

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
<<<<<<< HEAD
=======
>>>>>>> 316a6c0433bdf45a286706a98358afa6b197b204
>>>>>>> 782bc70fd202b69eb5fe9ae388ad98ec33a9e90e
