.btn {
    padding: 21px 39px;
    @include baseFont(16px, 18px, bold);
    border-radius: 30px;
    text-decoration: none;

    &__theme_light {
        @include baseFont($color: $btnColorLight);
        background-color: $light;
        
        &:hover{
        color: $btnColorDark;
        }
    }
    
}