.btn {
    min-width: rem(156px);
    text-align: center;
    display: inline-flex;
    padding: rem(19px) rem(39px);
    border-radius: rem(30px);
    text-decoration: none;
    @include baseFont;
    @include textOverflow3;
    display: inline-flex;
    max-width: rem(340px);
    border: none;
    cursor: pointer;
        user-select: none;

    &__theme_light {
        @include baseFont($font-size: rem(16px), $line-height: rem(18px), $color: $btnColorLight);
        background-color: $light;

        &:hover {
            color: $btnColorDark;
        }
    }
    &__theme_dark{
        background-color: $btnColorLight;
        color: $light;
        &:hover{
            background-color: $fifthBgrColor;
            color: $light;
        }
    }

    &__theme_transparent{
        background-color: transparent;
        color: &btnColorDark;
        &:hover{
            color: $black;
        }
    }
}