.controls {
    &__start {
        margin-right: rem(20px);
    }

    &__play {
        @include flexRow-JCfs-ALIc ($justify-content: center);
        width: rem(24px);
        height: rem(24px);

        @include phone {
            width: rem(8px);
            height: rem(20px);
        }

        &-icon {
            fill: $playerElements;

        }
    }

    &__volume {
        @include flexRow-JCfs-ALIc ($justify-content: center);
        width: rem(24px);
        height: rem(24px);

        @include phone {
            width: rem(8px);
            height: rem(10px);
        }

        &-icon {
            fill: $playerElements;
        }
    }

    &__pause {
        &-icon {
            fill: #626262;
            display: none;
        }
    }
}