.features{
    width: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 85px;

    @include tablet {
        margin: 0;
    }
    @include phone {
        flex-direction: column;
    }
}