.footer {

    position: absolute;
    left: 0;
    right: 0;
    bottom: rem(237px);
    background: $light;

    @include tablet {
        bottom: rem(366px);
    }

    /* padding-top: rem(16px);
    padding-bottom: rem(16px); */

    /* @include tablet {
        padding: rem(24px);
    }

    } */

    &__container{
        height: 100%;
    }

    &__row {
        @include flexRow-JCfs-ALIc ($justify-content: space-between);
        padding: 0 rem(71px) 0 rem(87px);

        @include tablet {
            padding: 0 rem(39px) rem(1px) rem(29px);
        }

        @include phone {
            @include flexCol-JCc-ALIfs ($align-items: center);
            text-align: center;
        }
    }

    &__address {
        font-size: rem(21px);
        color: $dark;
        font-style: normal;

        @include phone {
            margin-bottom: rem(8px);
        }
    }

    &__phone {
        position: relative;

        @include phone {
            margin-bottom: rem(6px);
        }

        &-icon {
            width: rem(18px);
            height: rem(18px);
            fill: $btnColorDark;
            padding-right: rem(6px);
        }

        &-link {
            font-size: rem(21px);
            color: $btnColorDark;
            @include flexRow-JCfs-ALIc;
            text-decoration: none;

            @include phone {
                justify-content: center;
            }
        }
    }
}