.form {
    display: flex;
    position: relative;

    &::before {
        content: url(../../../CHOCCO/img/background/ягода_1.png);
        left: -3%;
        bottom: -6%;
        position: absolute;
    }

    &__col {
        flex: 1;
        margin-right: rem(25px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__row {
        display: flex;
        margin-bottom: rem(14px);
    }

    &__block {
        @include flexCol-JCsb-ALIfs;
        flex: 1;
        margin-right: rem(16px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__input {
        width: 100%;
        border: rem(3px) solid transparent;
        padding: rem(13px);
        border-radius: rem(4px);
        background: $light;

        &:focus {
            border: rem(3px) solid $borderColor;
            outline: none;
        }
    }

    &__input-textarea {
        height: rem(156px);
        resize: none;
        padding: 0;
    }

    &__controll {
        display: flex;
        flex-wrap: wrap;
        margin-top: rem(36px);
    }

    &__btn {
        margin-top: rem(10px);
        position: relative;

        &:first-child {
            margin-right: rem(-20px);
        }

        &:last-child {
            margin-right: 0;
        }

        &::before {
            content: url(../../../CHOCCO/img/background/лист-3_1.png);
            right: -16%;
            top: -174%;
            position: absolute;
        }

    }
}