.header {
    @include flexRow-JCfs-ALIc;
    @include tablet{
        min-height: rem(91px);
        
    }

    &__logo {
        margin-right: rem(40px);
    }

    &__navbar {
        margin-right: rem(40px);

        @include tablet {
            display: none;
        }
    }

    &>.contacts {
        @include tablet {
            display: none;
        }
    }
}