.hero {
    min-height: rem(652px);
    background-color: $firstBgrColor;
    position: relative;

    &__header {
        margin-bottom: rem(84px);

        @include tablet {
            min-height: rem(91px);
            margin-bottom: rem(482px);
            padding-left: rem(30px);
        }

        @include phone {
            min-height: rem(91px);
            margin-bottom: rem(369px);
            padding-left: rem(10px);
        }
    }

    &__btn {
        position: absolute;
        top: 64.5%;
        display: inline-block;

        @include tablet {
            top: 79%;
        }

        @include phone {
            top: 105%;
        }
    }

    &__container {
        position: relative;
        @include flexCol-JCsb-ALIfs;
        padding: rem(21px) rem(80px) rem(52px);
        background: url(../../img/pics/comp/Ягоды1.png) right 29% top 91% no-repeat,
            url(../../img/pics/comp/Chocolates.png) right 5% bottom 59% no-repeat,
            url(../../img/background/big-leaf.png) right top no-repeat;

        @include tablet {
            background: none;
            padding: 0;
        }

        &::before {
            content: url(../../img/pics/comp/Лист1.png);
            position: absolute;
            top: 51%;
            left: 78%;

            @include tablet {
                content: url(../../img/pics/comp/comp768.png);
                position: absolute;
                top: 18%;
                left: 19%;
                padding: 0 rem(52px);
            }

            @include phone {
                content: url(../../img/pics/comp/comp480.png);
                position: absolute;
                top: 12%;
                left: 5%;
                padding: 0 rem(52px);
            }
        }

    }

    &__content {
        min-height: rem(402px);

        &::before {
            content: url(../../img/pics/comp/Лист2.png);
            position: absolute;
            top: 88.8%;
            left: 62%;

            @include tablet {
                content: "";
            }
        }

        @include tablet {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
        }

        @include phone {
            min-height: auto;
        }
    }

    &__title {
        @include H2font($line-height: rem(59px));
        width: 38%;
        text-transform: uppercase;
        margin-bottom: rem(20px);

        @include tablet {
            width: auto;
            margin: 0;
        }

        @include phone {
            @include H2font($font-size: rem(40px), $line-height: rem(36px));
            margin-bottom: rem(8px);
        }
    }

    &__text {
        width: rem(371px);
        @include baseFont(rem(21px), 25px);

        @include phone {
            @include baseFont($line-height: rem(20px));
            padding: 0 rem(28px);
            margin-bottom: rem(183px);
        }
    }

    &__icons {
        position: relative;

        &::before {
            content: url(../../img/pics/comp/Ягода2.png);
            position: absolute;
            top: 79%;
            right: -81%;
        }

        @include tablet {
            display: none;
        }
    }
}