.hero {
    min-height: 652px;
    background-color: $firstBgrColor;

    &__header {
        margin-bottom: 84px;
    }

    &__btn {
        position: absolute;
        top: 32.5%;
        display: inline-block;
    }

    &__container {
        @include flexCol-JCsb-ALIfs;
        padding: 21px 80px 50px;
        background: url(../../img/pics/comp/Ягоды1.png) right 29% top 91% no-repeat,
        url(../../img/pics/comp/Лист1.png) right 1% bottom 25% no-repeat,
        url(../../img/pics/comp/Chocolates.png) right 5% bottom 57% no-repeat,
        url(../../img/background/big-leaf.png) right top no-repeat,
        url(../../img/pics/comp/Лист2.png) left 71% bottom -6% no-repeat,
        url(../../img/pics/comp/Ягода2.png) left 91% bottom -9% no-repeat;
    }

    &__content {
        height: 402px;
    }

    &__title {
        @include Hfont($line-height: 59px);
        width: 38%;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__text {
        width: 371px;
        @include baseFont(21px, 25px);
    }
}