.icons {
    display: flex;
    position: relative;

    &::before {
        content: url(../../../CHOCCO/img/background/leaf3.png);
        position: absolute;
        top: 48%;
        left: -8%;
    }
}