.infoItem {
    display: flex;
    margin-right: rem(8px);
    max-width: rem(166px);
    justify-content: flex-start;
    align-items: flex-start;

    &:last-child {
        margin-right: 0;
    }

    &__img {
        margin-right: rem(11px);

        /* &_listWhite {
            width: 64px;
            height: 37px;
            fill: $heroSpriteColor;
        }
        &_truckWhite {
            width: 40px;
            height: 32px;
            fill: $heroSpriteColor;
        }
        &_tapeWhite {
            width: 37px;
            height: 37px;
            fill: $heroSpriteColor;
        } */

    }

    &__text {
        @include baseFont(rem(16px), rem(19px), $color: $light);
        padding-right: rem(40px);
    }
}