.interactive-avatar {
    width: rem(74px);
    height: rem(74px);
    border-radius: 50%;
    overflow: hidden;
    margin-right: rem(6px);
    border: rem(4px) solid transparent;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> 782bc70fd202b69eb5fe9ae388ad98ec33a9e90e

    @include phone {
        width: 64px;
        height: 64px;
        margin-right: 0;
        border: none;
        &:nth-of-type(1) { order: 2; }
        &:nth-of-type(2) { order: 1; }
        &:nth-of-type(3) { order: 3; }

        &:hover {
            border: rem(4px) solid $btnColorLight;

        }
    }
<<<<<<< HEAD
=======
>>>>>>> 316a6c0433bdf45a286706a98358afa6b197b204
>>>>>>> 782bc70fd202b69eb5fe9ae388ad98ec33a9e90e

    &:hover {
        border: rem(4px) solid $btnColorLight;
    }

    &:last-child {
        margin-right: 0;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}