.interactive-avatar {
    width: rem(74px);
    height: rem(74px);
    border-radius: 50%;
    overflow: hidden;
    margin-right: rem(6px);
    border: rem(4px) solid transparent;

    &:hover {
        border: rem(4px) solid $btnColorLight;
    }

    &:last-child {
        margin-right: 0;
    }

    &__img {
        object-fit: cover;
    }
}