.menu{
    &__vertical{
        @include H2font ($font-size: rem(36px), $line-height: rem(72px), $font-weight: normal);
        padding-top: rem(135px);
        margin: 0 auto;
        min-height: 100%;


    }
    &__list{
        @include flexCol-JCsb-ALIfs ($justify-content: flex-start, $align-items: center);
        flex-wrap: wrap;

    }
    &__item{

    }

    &__link{
        text-decoration: none;
        white-space: nowrap;
    }
}