.navBar{
    padding: 0 0 0 38px;
    &__list{
    display: flex;
}
    &__item{
    margin-right: 28px;
    &:last-child{
        margin-right: 0;
    }
}
    &__link{
        line-height: 30px;
        color: $light;
        text-decoration: none;}
    }