.player {
    width: 100%;

    &__container {
        position: relative;
        padding-bottom: 58.25%;
        height: rem(0px);
    }

    &__elem {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 92%;
    }

    &__wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: rem(662px);
        margin: auto;

        @include tablet {
            max-width: rem(594px);
        }

        @include phone {
            max-width: rem(394px);
        }

        &::before {
            content: "";
        }

        position: relative;
        height: 100%;
        width: 100%;

        &.active .player__splash {
            display: none;
        }

        &.paused {
            .player__start {
                width: rem(14px);
                height: rem(22px);
                border: none;

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    width: rem(0px);
                    top: 0;
                    bottom: 0;
                    background: $playerElements;
                }

                &::after {
                    right: 0;
                }

                &::before {
                    left: 0;
                }
            }
        }
    }

    &__splash {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        cursor: pointer;
        background: url(../../img/fonts/splashscreen.png) center center/cover no-repeat;
    }

    &__layer {
        position: absolute;
        top: 0;
        bottom: rem(31px);
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        @include flexCol-JCc-ALIfs ($align-items: center);
        cursor: pointer;
        opacity: 1;
        transition: 0.3s;

        @include tablet {
            bottom: rem(27px);
        }

        @include phone {
            bottom: rem(18px);
        }

        &-icon {
            fill: $light;

            @include tablet {
                width: rem(68px);
            }

            @include phone {
                width: rem(46px);
            }
        }
    }

    &__controls {
        position: absolute;
        left: 0;
        top: 92%;
        right: 0;
        height: rem(35px);
        @include flexRow-JCfs-ALIc ($align-items: center);
        padding: 0 0 0 rem(10px);
        background: $playerControls;

        @include phone {
            height: rem(23px);
        }
    }

    &__playback {
        width: rem(446px);
        height: rem(16px);
        position: relative;
        margin-right: rem(37px);

        @include tablet {
            margin-right: rem(31px);
        }

        &::before {
            content: "";
            height: rem(6px);
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            background: $playerElements;
        }

        &-button {
            background: $playerElements;
            border-radius: rem(50px);
            border: none;
            width: rem(11px);
            height: rem(11px);
            padding: 0;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
            cursor: pointer;

            @include phone {
                width: rem(9px);
                height: rem(9px);
            }
        }
    }

    &__volume {
        margin-right: rem(20px);

        @include tablet {
            margin-right: rem(18px);
        }

        &-playback {
            width: rem(55px);
            height: rem(16px);
            position: relative;

            @include tablet {
                margin-right: rem(23px);
            }
            @include phone {
                margin-right: rem(16px);
            }

            &::before {
                content: "";
                height: rem(6px);
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                background: $playerElements;
            }

            &-button {
                background: $playerElements;
                border-radius: rem(50px);
                border: none;
                width: rem(11px);
                height: rem(11px);
                padding: 0;
                position: absolute;
                top: 50%;
                right: rem(-8px);
                transform: translate(-50%, -50%);
                cursor: pointer;

                @include phone {
                    width: rem(9px);
                    height: rem(9px);
                }
            }
        }
    }

    &.played .controls__play-icon {
        display: none;
    }

    &.played .controls__pause-icon {
        display: block;
    }
}