.section6 {
    min-height: $sectionHeight +10px;

    @include tablet {
        min-height: $sectionHeight768;
    }

    @include phone {
        min-height: rem(518px);
    }

    &__container {
        @include flexCol-JCc-ALIfs ($justify-content: flex-start, $align-items: center);
        padding-top: rem(62px);
        margin-bottom: rem(31px);

        @include tablet {
            padding-top: rem(68px);
        }

        @include phone {
            padding-top: rem(112px);
        }

        &::before {
            content: "";
            background: url(../../img/pics/decor/leafS6_1100.png) no-repeat;
            background-size: contain;
            width: 5rem;
            height: 4.27778rem;
            position: absolute;
            top: 13%;
            right: 9%;

            @include tablet {
                top: 11%;
                right: 4%;
                width: rem(75px);
            }

            @include phone {
                top: 19%;
                right: 1%;
                width: rem(60px);
            }
        }

        &::after {
            content: "";
            background: url(../../img/pics/decor/leafS6-2_1100.png) no-repeat;
            background-size: contain;
            width: 4rem;
            height: 7.5rem;
            position: absolute;
            top: 69%;
            left: 9%;

            @include tablet {
                top: 35%;
                left: -2%;
                height: rem(112px);
            }

            @include phone {
                top: 43%;
                left: -3%;
            }
        }
    }

    &__title {
        text-transform: uppercase;
        @include H2font ($color: $dark);
        margin-bottom: rem(31px);

        @include tablet {
            margin-bottom: rem(41px);
        }

        @include phone {
            @include H2font ($font-size: rem(40px), $line-height: rem(36px), $color: $dark);
        }
    }
}