.section{
    /* height: 100vh; */
    height: 100%;
    display: flex;
    /* min-height: rem(642px); */

    /* @include tablet{
        min-height: rem(606px);
    }
    @include phone{
        min-height: rem(511px);
    } */
}