.section1 {
    height: rem(652px);

    @include tablet {
        height: rem(1000px);
    }

    @include phone {
        height: rem(707px);
    }

    &__container {
        position: relative;
        @include flexCol-JCc-ALIfs($align-items: center);
        padding: rem(98px) 0 rem(80px);
        background: url(../../../CHOCCO/img/background/узор-лист-1.png) left top 58% no-repeat;

        @include tablet {
            background: url(../../../CHOCCO/img/background/узор-лист-1.png) left -1% top 12% no-repeat;
            padding: rem(279px) 0 rem(252px);
        }

        @include phone {
            background: none;
            box-sizing: border-box;
            padding: rem(53px) 0;
        }

        &::before {
            content: url(../../../CHOCCO/img/background/малина-1.png);
            left: 0;
            bottom: -24.5%;
            position: absolute;

            @include tablet {
                content: url(../../../CHOCCO/img/background/малина-1_768.png);
                bottom: -8%;
            }

            @include phone {
                content: "";
            }
        }
    }


    &__headline {
        text-align: center;
        margin-bottom: rem(46px);

        @include phone {
            margin-bottom: rem(53px);
        }
    }

    &__content {
        width: 100%;
        margin: 0 rem(82px);

        @include tablet {
            margin: 0;
        }
    }


    &__item {
        flex: 1;
        position: relative;

        @include tablet {
            margin-right: 0;
        }

        @include phone {
            margin-bottom: rem(36px);
        }

        &-img{
            max-width: none;
        }

        &-icon{
            flex: 0;
            margin: 0;
            padding-top: rem(65px);

            @include tablet {
                display: none;
            }
        }

        /* &::before {
            content: url(../../../CHOCCO/img/icons/features/Combined-shape-2204.png);
            position: absolute;
            top: 23%;
            right: -22%;

            @include tablet {
                content: "";
            }

            @include phone {
                content: "";
            }
        } */

        &:last-child {
            margin-right: 0;

            @include phone {
                margin-bottom: 0;
            }

            &::before {
                display: none;
            }
        }
    }

    &__title {
        @include H2font($color: $dark);
        text-transform: uppercase;
        margin: 0 0 rem(20px) 0;

        @include tablet {
            margin: 0;
        }

        @include phone {
            @include H2font($font-size: rem(40px), $line-height: rem(36px), $color: $black);
        }
    }

    &__subtitle {
        @include baseFont($color: $baseFontColor);
        width: rem(436px);
        text-align: center;
        margin: rem(20px) 0 0;

        @include tablet {
            margin: rem(6px) 0 0;
        }

        @include phone {
            margin: rem(12px) 0 0;
        }
    }
}