.section8 {
    min-height: $sectionHeight +100px;

    @include tablet{
        min-height: $sectionHeight - 9px;
    }

    @include phone {
        min-height: rem(631px);
    }

    &__container {
        position: relative;
        max-width: none;
    }

    &__map {
        height: rem(652px);
        width: 100%;

        @include tablet{
           height: rem(526px);
        }

        @include phone {
            height: rem(482px);
        }
    }
}