.section{
    /* height: 100vh; */
    height: 100%;
    display: flex;
    /* min-height: 642px; */

    /* @include tablet{
        min-height: 606px;
    }
    @include phone{
        min-height: 511px;
    } */
}