.section{
    min-height: 652px;
    background: url("/img/background/узор\ лист\ 1.png") left center no-repeat;
    background: url("/img/background/малина\ 1.png") left bottom -104px no-repeat;

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 9%;
    }
    &__headline{
        text-align: center;
        margin-bottom: 49px;
    }
    &__content{
        margin: 0 82px;
    }
    &__item{
        margin-right: 55px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__title{
        @include Hfont($color: $dark);
        text-transform: uppercase;
    }
    &__subtitle{
        @include baseFont($color: $baseFontColor);
        width: 436px;
        text-align: center;
        margin: 19px 0 0;
    }
}
