.section3 {
    min-height: $sectionHeight+10px;

    &__container {
        @include flexCol-JCc-ALIfs ($justify-content: flex-start, $align-items: center);        
    }


    @include tablet {
        min-height: rem(1000px);
    }

    @include phone {
        min-height: rem(756px);
    }

    &__title {
        text-transform: uppercase;
        @include H2font ($color: $dark);
        text-align: center;
        padding-top: rem(67px);
        padding-bottom: rem(53px);

        @include tablet {
            @include H2font ($color: $black);
            padding-top: rem(174px);
            padding-bottom: rem(34px);
        }

        @include phone {
            @include H2font ($font-size: rem(40px), $line-height: rem(36px), $color: $black);
            text-shadow: rem(0px) rem(4px) rem(4px) rgba(0, 0, 0, 0.25);
            padding-top: rem(113px);
        }


    }
}