.section8 {
    min-height: $sectionHeight;

    @include phone {
        min-height: 482px;
    }

    &__container {
        position: relative;
    }

    &__map {
        height: 652px;
        width: 100%;

        @include phone {
            height: 482px;
        }
    }
}