.section5 {
    position: relative;
    background: $light;

    &__container {
        position: relative;
        padding: rem(59px) rem(79px) rem(67px);
        @include flexCol-JCsb-ALIfs($align-items: center);

        &::before {
            content: url(../../img/pics/decor/Узор1.png);
            top: 74%;
            left: 0%;
            position: absolute;
        }

    }

    &__title {
        @include H2font($color: $dark);
        margin-bottom: rem(25px);
        text-transform: uppercase;
        position: relative;

        &::before {
            content: url(../../img/pics/decor/Ягода-3.png);
            top: -39%;
            right: -234%;
            position: absolute;
        }
    }

    &__content {
        margin-bottom: rem(15px);
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: rem(83px);
            height: rem(83px);
            background: $light;
            border-radius: 50%;
            left: 45%;
            top: -14%;
        }
    }
}