.section5 {
    position: relative;
    background: $light;

    &__container {
        position: relative;
        padding: 59px 79px 67px;
        @include flexCol-JCsb-ALIfs($align-items: center);

        &::before {
            content: url(../../../CHOCCO/img/pics/decor/Узор1.png);
            top: 74%;
            left: 0%;
            position: absolute;
        }

    }

    &__title {
        @include H2font($color: $dark);
        margin-bottom: 25px;
        text-transform: uppercase;
        position: relative;

        &::before {
            content: url(../../../CHOCCO/img/pics/decor/Ягода-3.png);
            top: -39%;
            right: -234%;
            position: absolute;
        }
    }

    &__content {
        margin-bottom: 15px;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 83px;
            height: 83px;
            background: $light;
            border-radius: 50%;
            left: 45%;
            top: -14%;
        }
    }
}