.single-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem(276px);

    &__icon {
        width: rem(128px);
        height: rem(128px);
        background: $thirdBgrColor;
        border-radius: 50%;
        margin-bottom: rem(22px);
    }

    &__title {
        @include H3font;
        margin-bottom: rem(18px);
    }

    &__img {
        margin: 25% auto;
    }

    &__text {
        p {
            text-align: center;
            @include baseFont($color: $baseFontColor);
        }
    }
}