.structure {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: rem(270px);
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem 0.77778rem;
    border-radius: rem(4px);
    min-height: rem(360px);

    &__list {
        width: 100%;
    }

    &__item {
        @include flexRow-JCfs-ALIc ($justify-content: space-between);
        @include baseFont ($font-size: rem(16px), $line-height: rem(24px), $font-weight: 500, $color: $dark);
        margin-bottom: 1rem;

        &-picture{
            width: rem(32px);
            height: rem(32px);
            margin-right: 0.55556rem;
            display: flex;
            align-items: center;
        }
    }

    &__text{
        flex-grow: 1;
        text-align: left;
    }
}