.btn, .btn__theme_light {
  padding: 21px 41px;
  width: 156px;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  border-radius: 30px;
  text-decoration: none;
}
.btn__theme_light {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #365A49;
  background-color: #FFFFFF;
}