$containerWidth: 1100px;
$baseFontSize: 18px;
$baseFontColor:#666666;
$BtnColorDark: #497870;
$BtnColorLight: #365A49;
$CirclesBgrColor:#DADADA;
$Dark: #292929;
$Light:#FFFFFF;
$FirstBgrColor:#61C4D9;
$SecondBgrColor:#86C3D7;
$ThirdBgrColor:#F2F5F4;
$ForthBgrColor:#F8FAF9;

@mixin Hfont ($font-size: 48px, $line-height: 58px, $font-weight: bold, $color: $Light) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

@mixin baseFont ($font-size: 18px, $line-height: 22px, $font-weight: normal, $color: $Light) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

.hero {
    min-height: 652px;
    background: url("/img/pics/comp/Ягоды1.png") right 15% center no-repeat, url("./../../img/pics/comp/Лист1.png") right center no-repeat, url("../../img/pics/comp/Chocolates.png") right center no-repeat, url("../../img/background/big-leaf.png") right bottom no-repeat, url("../../img/pics/comp/Лист2.png") left center no-repeat, url("../../img/pics/comp/Ягода2.png") left center no-repeat;
    background-color: $FirstBgrColor;

    &__content {
        margin-top: 84px;
        margin-bottom: 64px;
    }

    &__title {
        @include Hfont;
        width: 371px;
        word-wrap: break-word;
        text-transform: uppercase;
        margin-bottom: 17px;
    }

    &__text {
        width: 371px;
        @include baseFont(21px, 25px);
        margin-bottom: 32px;
    }
}