.hero {
  min-height: 652px;
  background: url("../../img/pics/comp/Ягоды1.png") right 15% center no-repeat, url("../../img/pics/comp/Лист1.png") right center no-repeat, url("../../img/pics/comp/Chocolates.png") right center no-repeat, url("../../img/background/big-leaf.png") right bottom no-repeat, url("../../img/pics/comp/Лист2.png") left center no-repeat, url("../../img/pics/comp/Ягода2.png") left center no-repeat;
  background-color: #61C4D9;
}
.hero__content {
  margin-top: 84px;
  margin-bottom: 64px;
}
.hero__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  width: 371px;
  word-wrap: break-word;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.hero__text {
  width: 371px;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 32px;
}