.infoItem {
  display: flex;
  margin-right: 8px;
  width: 166px;
  justify-content: flex-start;
  align-items: flex-start;
}
.infoItem:last-child {
  margin-right: 0;
}
.infoItem__img {
  margin-right: 11px;
}
.infoItem__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  padding-right: 40px;
}