$containerWidth: 1100px;
$baseFontSize: 18px;
$baseFontColor:#666666;
$BtnColorDark: #497870;
$BtnColorLight: #365A49;
$CirclesBgrColor:#DADADA;
$Dark: #292929;
$Light:#FFFFFF;
$FirstBgrColor:#61C4D9;
$SecondBgrColor:#86C3D7;
$ThirdBgrColor:#F2F5F4;
$ForthBgrColor:#F8FAF9;

@mixin baseFont ($font-size: 18px, $line-height: 22px, $font-weight: normal, $color: $Light) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

.infoItem {
    display: flex;
    margin-right: 8px;
    width: 166px;
    justify-content: flex-start;
    align-items: flex-start;

    &:last-child {
        margin-right: 0;
    }

    &__img {
        margin-right: 11px;
    }
    &__text{
        @include baseFont(16px, 18px, $color: $Light);
        padding-right: 40px;
    }
}