.navBar{
    &__list{
    display: flex;
    flex-direction: row;}
    &__item{
    margin-right: 27px;}
    &__link{
        line-height: 30px;
        color: $light;
        text-decoration: none;}
    }