@charset "UTF-8";
.section7 {
  background: red;
}
.section7__container {
  position: relative;
  padding: 62px 81px 85px;
}
.section7__container::before {
  content: url(../../img/pics/decor/Ежевика_фото1.png);
  right: 0;
  top: 0%;
  position: absolute;
}